body{
    background-color: #99bbff;
}



#uni_name{
  font-size: 60px;
  display: flex;
  justify-content:center;
  align-items:center;
  background-color: #1a66ff;
  height:100px;
}

#intro{
    text-align: center;
}

#profile_pic{
    width: 200px; 
    height: 200px;
}


