<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    
    <body>
        
        <div>
            <h1 id = "uni_name">EduX Technical University(ETU)</h1>
            
        </div>
        
        <br/>
        <h2><center>Search the Students</center></h2>
        <form id="search_regno" method="GET">
            
            <label for="stdno"><h2>Registration No:</h2></label>
            <input type="number" id="stdno" name="stdno" min = "1" required>
            <input type = "submit" value="Search">
            <br><br>
            
            
        </form>
        
        <div id="error_message"></div>
        
        <div>
            
        <center>
        <button  class="sign_up_btn">
        <a href="/register">Registration</a>
        </button>
            
        <button>
        <a href="/login" class="login_up_btn">Login</a>
        </button>
        </center>
        
        </div>
        <br><br>
        
        <div class="img-home">
            <img  src = "static/images/home.png" alt="home-image"/>
        </div>
        
        <script>
        const form = document.getElementById('search_regno');
        const stdnoInput = document.getElementById('stdno');

        form.addEventListener('submit', (event) => {
            event.preventDefault(); // Prevent the default form submission

            const stdno = stdnoInput.value;
            const url = `/profile/${stdno}`;
            
            fetch(url)
            .then(response=>{
                if(response.ok){
                    return response.json();
                }else{
                    throw new Error('Error: ' + response.status);
                }
                
            })
            .then(data=>{
                if(data){
                    
                    if(data.error_reg){
                    swal.fire(data.error_reg);
                    return;
                    }
                    
                    console.log("Anjana")
                    window.location.href =  url;
                    
                }
                    
                
            }).catch(error => {
                console.error('Error:', error);
            });
    });
        </script>
        
    </body>
</html>
