<!DOCTYPE>
<html>
    <head>
        <title>Home</title>
        
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
  rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<style>
    body {
      margin: 20px;
    }
    
  </style>
    </head>
    
    <body>
        
        <div>
            <h1 id = "uni_name">EduX Technical University(ETU)</h1>
            
        </div>
        
        <br/>
        <h2><center>Search the Students</center></h2>
        <form class="search_regno" method="GET">
            
            <center><label for="stdno"><h2>Registration No:</h2></label>
            <input type="number" class="form-control" id="stdno" name="stdno" min = "1" placeholder="Enter email" style="width: 300px;" required></br>
            <input type = "submit" value="Search" class="btn btn-primary">
            </center>
            <br><br>
            
            
        </form>
        
        <div id="error_message"></div>
        
        <div>
            
        <center>
        <button  class="sign_up_btn">
        <a href="/register">Registration</a>
        </button>
            
        <button>
        <a href="/login" class="login_up_btn">Login</a>
        </button>
        </center>
        
        </div>
        <br><br>
        
        <div class="img-home">
            <img  src = "static/images/home.png" alt="home-image"/>
        </div>
        
        <script>
        const form = document.getElementById('search_regno');
        const stdnoInput = document.getElementById('stdno');

        form.addEventListener('submit', (event) => {
            event.preventDefault(); // Prevent the default form submission

            const stdno = stdnoInput.value;
            const url = `/profile/${stdno}`;
            
            fetch(url)
                .then(response => {
                    if (response.status === 200) {
                        // Student number exists, redirect to profile page
                        window.location.href = url;
                    } else {
                        // display Swal message
                        swal.fire("Student number does not exist");
                    }
                })
                .catch(error => {
                    // Error occurred, display Swal message
                    swal.fire("Error", "An error occurred while processing the request", "error");
                    console.error(error);
                });

        });
        </script>
        
    </body>
</html>
