<!DOCTYPE html>
<html>
<head>
    <title>Profile View</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <h2 id="std_view">Student Profile View</h2>
    <div id="table">
        <table>
            <tr>
                <th>Registration No</th>
                <td id="regno">{{ users.regno }}</td>
            </tr>
            <tr>
                <th>Full Name</th>
                <td id="fullname">{{ users.fullname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td id="email">{{ users.email }}</td>
            </tr>
            <tr>
                <th>Degree Program</th>
                <td id="degree">{{ users.degree }}</td>
            </tr>
            <tr>
                <th>Contact No</th>
                <td id="contact">{{ users.contact }}</td>
            </tr>
            <tr>
                <th>Introduction</th>
                <td id="introduction">{{ users.introduction }}</td>
            </tr>
            <tr>
                <th>Current GPA</th>
                <td id="gpa">{{ users.gpa }}</td>
            </tr>
            <tr>
                <th>Skills</th>
                <td id="skills">{{ users.skills }}</td>
            </tr>
        </table>
    </div>
</body>
</html>
