<!Doctype>
<html>
	<head>
		<title>Profile-View</title>
	</head>
	
	<body>
		<table>
			<tr><th>Registration No</th><td>123</td></tr>
			<tr><th>Full Noame</th><td>Anjana Pasindu</td></tr>
			<tr><th>Email</th><td>AnjanaPasindu@gmail.com</td></tr>
			<tr><th>Degree Program</th><td>Bsc Electrical engineering</td></tr>
			<tr><th>Contact No</th><td>076-297 5845</td></tr>
			<tr><th>Introduction</th><td>I am Anjana</td></tr>
			<tr><th>Current GPA</th><td>3.25</td></tr>
			<tr><th>Skills</th><td>NOde js, Expree js, </td></tr>
		</table>
	</body>
</html>