<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <title>Profile-Edit</title>
</head>
<body>
  <a href="/"><p>HOME</p></a>
  <center><h1 id="profile_title">STUDENT PROFILE</h1></center>
  <form id="std_form">

    <label for="regno">Registration No:</label>
    <input type="number" id="regno" name="regno" value={{item.regno}}><br>

    <label for="fullname">Full Name:</label>
    <input type="text" id="fullname" name="fullname" value={{item.fullname}}><br>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value={{item.email}} disabled><br>

    <label for="degree">Degree Program:</label>
    <select id="degree" name="degree">
      <option value="">Select a degree program</option>
      <option value="Bsc Computer Science and engineering" {% if item.degree == 'Bsc Computer Science and engineering' %} selected {% endif %}>Bsc Computer Science and engineering</option>
      <option value="Bsc Machinical engineering" {% if item.degree == 'Bsc Machinical engineering' %} selected {% endif %}>Bsc Machinical engineering</option>
      <option value="Bsc Civil engineering" {% if item.degree == 'Bsc Civil engineering' %} selected {% endif %}>Bsc Civil engineering</option>
      <option value="Bsc Electrical engineering" {% if item.degree == 'Bsc Electrical engineering' %} selected {% endif %}>Bsc Electrical engineering</option>
    </select><br>

    <label for="contact">Contact No:</label>
    <input type="tel" id="contact" name="contact" value={{item.contact}}><br>

    <label for="introduction">Introduction:</label>
    <textarea id="introduction" name="introduction">{{item.introduction}}</textarea><br>

    <label for="gpa">Current GPA:</label>
    <input type="number" min="0.00" step="0.01" id="gpa" name="gpa" value={{item.gpa}}><br>

    <label for="skills">Skills:</label>
    <textarea id="skills" name="skills">{{item.skills}}</textarea><br>

    <button><center>Update</center></button>
    
    
    
  </form>
  
  <script>
    document.getElementById("std_form").addEventListener('submit', function(e){
      e.preventDefault();
      const regno = parseInt(document.getElementById('regno').value);
      const fullname = document.getElementById('fullname').value;
      const email = document.getElementById('email').value;
      const degree = document.getElementById('degree').value;
      const contact = document.getElementById('contact').value;
      const introduction = document.getElementById('introduction').value;
      const gpa = parseFloat(document.getElementById('gpa').value).toFixed(3);
      const skills = document.getElementById('skills').value;
      
      //Creating Object with inputs
      const form_data = {
        regno : regno,
        fullname : fullname,
        email : email,
        degree : degree,
        contact : contact,
        introduction : introduction,
        gpa : gpa,
        skills : skills
      }
      
      try{
        // Send PUT request using fetch
        fetch('/student/'+ regno, {
            method: 'PUT',
            body: JSON.stringify(form_data),//converting object into json
            headers: {
                'Content-Type': 'application/json'
            }
        });
        
        console.log(form_data);
        console.log('Student Details are updated successfully');
        //alert('Student Details are updated successfully');
        Swal.fire('Student Details are updated successfully'):
        
      }catch(error){
        console.log(error);
        alert('Error when updating student details');
      }
      
    });
  </script>
  
</body>
</html>
